{%  extends 'index.html' %}
{% block title %}
<title>About</title>

{% endblock title %}

{% block content %}

{% load static %}
{%  include 'gallery.html' %}
<!-- about section -->

<section class="about_section layout_padding">
  <div class="container  ">
    <div class="row">
      <div class="col-md-6 col-lg-5 ">
        <div class="img-box">
          <img src="../static/images/about-img.png" alt="">
        </div>
      </div>
      <div class="col-md-6 col-lg-7" data-aos="fade-up">
        <div class="detail-box">
          <div class="heading_container">
            <h2>
              About Us
            </h2>
          </div>
          <p>
            Smart Watch can open up a whole new world for older family members. They get the same connectivity benefits of Apple Watch, like calling, texting, and location sharing to stay close to the family. And if they need it, they can make the text larger or bolded.Unusually high or low heart rates and irregular heart rhythms (known as arrhythmias) could be signs of a serious condition.But many people don't recognize the symptoms, so the underlying causes often go undiagnosed. Notifications in the Heart Rate app will alert you to these irregularities so you can take action and consult your doctor.
            A smartwatch is a wearable computer in the form of a watch; modern smartwatches provide a local touchscreen interface for daily use, while an associated smartphone app provides for management and telemetry.
          </p>
          <div ID="SectionName" STYLE="display:none">
            Smartwatches can do many things that your smartphone can't. Benefits include tracking your heart rate, sleep, activity and overall fitness level. You can also play music and do phone free activities and even pay at the store.
          </div>
          
          
        </div>
      </div>
    </div>
  </div>
</section>

<!-- end about section -->

{% endblock content %}