
{%  extends 'index.html' %}


{% block title %}
<title>Cart</title>

{% endblock title %}
{% load cart_tag %}
{% load static %}
{% block content %}
{%  include 'gallery.html' %}
<style>
    #remove{
        font-size: 10px !important;
        background-color: rgb(117, 192, 211);
        border: 1px solid rgb(117, 192, 211);
        color: white !important;
        padding: 2px 8px;
        width: 10%;
        transition: all 250ms ease-in-out;
    }
    #remove:hover{
        width: 100%;
        color: rgb(117, 192, 211) !important;
        background-color: transparent;
        border: 1px solid rgb(117, 192, 211);
    }
    

</style>
<div class="container px-4 py-5 mx-auto">
    <div class="row d-flex justify-content-center">
        <div class="col-5">
            <h4 class="heading">Cart</h4>
        </div>
        <div class="col-7">
            <div class="row text-right">
                <div class="col-4">
                    <h6 class="mt-2">Price</h6>
                </div>
                <div class="col-4">
                    <h6 class="mt-2">Quantity</h6>
                </div>
                <div class="col-4">
                    <h6 class="mt-2">Total</h6>
                </div>
            </div>
        </div>
    </div>
    {% for key,value in request.session.cart.items %}

    <div class="row d-flex justify-content-center border-top">
        <div class="col-5">
            <div class="row d-flex">
                <div class="book">
                    <img src="{{value.image}}" class="book-img">
                </div>
                <div class="my-auto flex-column d-flex pad-left">
                    <p class="mob-text" style="text-transform: uppercase;"> {{value.name}}</p>
                    <p class="mob-text" ><a id="remove" href="{% url 'item_clear' value.product_id %}">Remove</a></p>
                    <!-- <h6 class="mob-text">Model :</h6> -->
                </div>
            </div>
        </div>
        <div class="my-auto col-7">
            <div class="row text-right">
                <div class="col-4">
                    <p class="mob-text">${{value.price}}</p>
                </div>
                <div class="col-4">
                    <div class="row d-flex justify-content-end px-3">
                        <p class="mb-0" id="cnt1">{{value.quantity}}</p>
                        <div class="d-flex flex-column plus-minus">
                            <span class="vsm-text plus"><a href="{% url 'item_increment' value.product_id %}">+</a></span>
                            <span class="vsm-text minus"><a href="{% url 'item_decrement' value.product_id %}">-</a></span>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <h6 class="mob-text">${{ value.price|multiply:value.quantity }}</h6>
                </div>
                
            </div>
        </div>
    </div>
    
    {% endfor %}
    

    <br>
    <br>
    
    <a class="clear" href="{% url 'cart_clear' %}">CLEAR ALL</a>


    <div class="row justify-content-center">
        <div class="col-lg-12">
            <div class="card">
                <form action="/product/checkout/" method="POST">
                    {% csrf_token %}
                <div class="row">
                    <div class="cc-selector col-lg-2 ">
                        <input checked="checked" id="esewa" type="radio" name="payment" value="esewa" />
                        <label class="drinkcard-cc esewa" for="esewa"></label>
                        <input id="khalti" type="radio" name="payment" value="visacard" />
                        <label class="drinkcard-cc khalti"for="khalti"></label>
                    </div>
                    <div class="col-lg-5">
                        <div class="row px-2 fruits">
                            <div class="form-group col-md-6 ">
                                <label class="form-control-label">Phone Number</label>
                                <input type="text" id="cname" name="phonenumber" placeholder="Name">
                            </div>
                            <div class="form-group col-md-6 animals">
                                <label class="form-control-label">E-mail</label>
                                <input type="text" id="cnum" name="email" placeholder="000 000 0000" minlength="9"
                                maxlength="20" size="20">
                            </div>
                        </div>
                        <div class="row px-2">
                            <div class="form-group col-md-6">
                                <label class="form-control-label">Shipping Address</label>
                                <input type="text" id="exp" name="address" placeholder="Place.....">
                            </div>
                            <div class="form-group col-md-6">
                                <label class="form-control-label">PIN</label>
                                <input type="password"  id="cvv" name="pincode" placeholder="****" minlength="4"
                                maxlength="4" size="4" type="*">
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 mt-2">
                        <div class="row d-flex justify-content-between px-4">
                            <p class="mb-1 text-left">Subtotal</p>
                            <h6 class="mb-1 text-right">${{cart_total_amount}}</h6>
                        </div>
                        <div class="row d-flex justify-content-between px-4">
                            <p class="mb-1 text-left">Tax 13%</p>
                            <h6 class="mb-1 text-right">${{tax}}</h6>
                        </div>
                        <div class="row d-flex justify-content-between px-4" id="tax">
                            <p class="mb-1 text-left">Total Amount</p>
                            <h6 class="mb-1 text-right">${{totalwithtax}}</h6>
                        </div>
                        <button class="btn-block btn-blue">
                            <span>
                                <span id="checkout">Checkout</span>
                                <span id="check-amt">${{totalwithtax}}</span>
                            </span>
                        </button>
                    </div>
                </div>
                </form>
            </div>
        </div>
    </div>
</div>


{% endblock content %}
