{%  extends 'index.html' %}
{% block title %}
<title>Check Out</title>

{% endblock title %}

{% load static %}
{% block content %}
{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/checkout.css' %}">

{% endblock css %}

{%  include 'gallery.html' %}


<section>
    
    <div class="card">
        <div class="title">Purchase Reciept</div>
    
        <div class="pricing">
            <div class="row d-flex justify-content-center ">
                <div class="col-2 ">
                    <span id="brand">Product</span>  
                </div>
                <div class="col-2">
                    <span id="name">Name</span>
                </div>
                <div class="col-2">
                    <span id="quantity">Quantity</span>
                </div>
                <div class="col-2">
                    <span id="price">Price</span>
                </div>
                <div class="col-2">
                    <span id="date">Date</span>
                </div>
            </div>
            {% for order in order %}
            <div class="row d-flex justify-content-center">
                <div class="col-2">
                    <img style="height: 150px;" src="{{order.image}}" alt="" srcset="">
                </div>
                <!-- <div class="col-2">
                    <span id="brand">{{order.productBrand}}</span>  
                </div> -->
                <div class="col-2">
                    <span id="name"> {{order.name}} </span>  
                </div>
                <div class="col-2">
                    <span id="quantity">{{order.quantity}}</span>
                </div>
                <div class="col-2">
                    <span id="price">${{order.total}}</span>
                </div>
                <div class="col-2">
                    <span id="date">{{order.date}}</span>
                </div>
                
            </div>
            {% endfor %}
            <br>
            <br>
            <br>
            <div class="row d-flex justify-content-center">
                <div class="col-3">
                    <span id="name">Shipping Charge</span>
                </div>
                <div class="col-7 text-right">
                    <span id="price">FREE</span>
                </div>
            </div>
        </div>
       
        
        

        <div class="footer">
            <div class="row">
                <div class="col-2 text-center"><img class="img-fluid" src="{% static 'images/icon.png' %}"></div>
                <div class="col-10 text-center">Want any help? Please &nbsp;<a href="/contact"> contact us</a></div>
            </div>
            
           
        </div>
    </div>
</section>
{% endblock content %}

