{%  extends 'index.html' %}
{% block title %}
<title>Features</title>

{% endblock title %}
{% block content %}

{% load static %}

{% block css %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/feature.css' %}">
{% endblock css %}

{%  include 'gallery.html' %}
<style>
  .dropdown-item {
    display: block;
    width: 100%;
    padding: 0.25rem 1.5rem;
    clear: both;
    font-weight: 400;
    color: #ffffff;
    text-align: inherit;
    white-space: nowrap;
    background-color: #212529;
    border: 0;
}
</style>

<section class="section" id="features">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="heading">
          <h2>Our Core Features</h2>
        </div>
      </div>
      <div class="col-md-4">
        
        <div class="mb-40 text-center text-md-left">
          <i class="d-inlin-block h2 mb-10 far fa-clock"></i>
          <h4 class="font-weight-bold mb-2">Smooth Touch</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem, inventore?</p>
        </div>
        
        <div class="mb-40 text-center text-md-left">
          <i class="d-inlin-block h2 mb-10  far fa-bell"></i>
          <h4 class="font-weight-bold mb-2">Elegant Design</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem, inventore?</p>
        </div>
        
        <div class="mb-40 text-center text-md-left">
          <i class="d-inlin-block h2 mb-10 fa fa-money"></i>
          <h4 class="font-weight-bold mb-2">Easy Pricing</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem, inventore?</p>
        </div>
        
      </div>
      <div class="col-md-4 text-center align-self-center mb-4 mb-md-0">
        <img class="img-fluid" src="../static/images/watch-2.png" alt="">
      </div>
      <div class="col-md-4">
          
        <div class="mb-40 text-center text-md-left">
          <i class="d-inlin-block h2 mb-10 far fa-clock"></i>
          <h4 class="font-weight-bold mb-2">Smooth Touch</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem, inventore?</p>
        </div>
        
        <div class="mb-40 text-center text-md-left">
          <i class="d-inlin-block h2 mb-10 far fa-bell"></i>
          <h4 class="font-weight-bold mb-2">Elegant Design</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem, inventore?</p>
        </div>
        
        <div class="mb-40 text-center text-md-left">
          <i class="d-inlin-block h2 mb-10 fa fa-money"></i>
          <h4 class="font-weight-bold mb-2">Easy Pricing</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem, inventore?</p>
        </div>
        
      </div>
    </div>
  </div>
</section>
{% include 'top.html' %}
<section class="feature_section layout_padding" style="padding: -90px 0px;">
    <div class="container">
      <div class="heading_container">
        <h2>
            Heavy On Features. <br>
            Light On Price.
        </h2>
        <p>
            Smart Watch SW is a lot of watch for a lot less than you expected.        </p>
      </div>
      <!-- <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Filter:
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
          <button class="dropdown-item" onclick="filterSelection('animals')" type="button">Action</button>
          <button class="dropdown-item" onclick="filterSelection('fruits')" type="button">Another action</button>
          <button class="dropdown-item" onclick="filterSelection('cars')" type="button">Something else here</button>
        </div>
      </div> -->
      <div class="row">
        <div class="col-sm-6 col-lg-3 " class="filterDiv cars" data-aos="fade-up" data-aos-duration="500">
          <div class="box">
            <div class="img-box">
              <img src="{% static 'images/f1.png' %}" alt="">
            </div>
            <div class="detail-box">
              <h5>
                Fitness Tracking
              </h5>
              <p>
                Get a run in wherever you are with great playlists, coaching, and photos from iconic locations. All on Smart Watch.
              </p>
              <a href="">
                <span>
                  Read More
                </span>
                <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
              </a>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-lg-3 " class="filterDiv cars" data-aos="fade-up">
          <div class="box">
            <div class="img-box">
              <img src="{% static 'images/f2.png' %}" alt="">
            </div>
            <div class="detail-box">
              <h5>
                Alerts & Notifications
              </h5>
              <p>
                You'll start receiving a pop-up message on your Smartwatch, alerting you each time a participant signs a smart waiver.
              </p>
              <a href="">
                <span>
                  Read More
                </span>
                <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
              </a>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-lg-3" data-aos="fade-up">
          <div class="box">
            <div class="img-box">
              <img src="{% static 'images/f3.png' %}" alt="">
            </div>
            <div class="detail-box">
              <h5>
                Messages
              </h5>
              <p>
                The best smartwatch that supports text and talk with wireless Qi charging and decent multi-day battery life makes this a smart choice.
              </p>
              <a href="">
                <span>
                  Read More
                </span>
                <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
              </a>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-lg-3" data-aos="fade-up">
          <div class="box">
            <div class="img-box">
              <img src="{% static 'images/f4.png' %}" alt="">
            </div>
            <div class="detail-box">
              <h5>
                Bluetooth
              </h5>
              <p>
                Just as with your smartphone, Internet access enables a smart watch with whole world of potential capabilities
              </p>
              <a href="">
                <span>
                  Read More
                </span>
                <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
              </a>
            </div>
          </div>
        </div>
        <div class="col-md-6 " data-aos="fade-right">
          <div class="box">
            <div class="img-box">
              <img src="{% static 'images/fam.png' %}" alt="">
            </div>
            <div class="detail-box">
              <h5>
                Family Setup 
              </h5>
              <p>
                With Family Setup, your family member who doesn't have their own Smartphone can use their Smart Watch to do things like make phone calls and share their location with you. After you set up a watch for a family member. <br> Note that: Some Smart Watch features depend on having a companion Phone.</p>
              <a href="">
                <span>
                  Read More
                </span>
                <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
              </a>
            </div>
          </div>
        </div>
        

        <div class="col-sm-6 col-lg-3" data-aos="fade-right">
            <div class="box">
              <div class="img-box">
                <img src="{% static 'images/f5.png' %}" alt="">
              </div>
              <div class="detail-box">
                <h5>
                  Sleep Track
                </h5>
                <p>
                  Get a run in wherever you are with great playlists, coaching, and photos from iconic locations. All on Smart Watch.
                </p>
                <a href="">
                  <span>
                    Read More
                  </span>
                  <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
                </a>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-lg-3" data-aos="fade-right">
            <div class="box">
              <div class="img-box">
                <img src="{% static 'images/f6.png' %}" alt="">
              </div>
              <div class="detail-box">
                <h5>
                  1000's Of Apps In Wrist
                </h5>
                <p>
                  You'll start receiving a pop-up message on your Smartwatch, alerting you each time a participant signs a smart waiver.
                </p>
                <a href="">
                  <span>
                    Read More
                  </span>
                  <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
                </a>
              </div>
            </div>
          </div>
          <!-- <div class="col-sm-6 col-lg-3" data-aos="fade-left">
            <div class="box">
              <div class="img-box">
                <img src="{% static 'images/f7.png' %}" alt="">
              </div>
              <div class="detail-box">
                <h5>
                  Music Player
                </h5>
                <p>
                  The best smartwatch that supports text and talk with wireless Qi charging and decent multi-day battery life makes this a smart choice.
                </p>
                <a href="">
                  <span>
                    Read More
                  </span>
                  <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
                </a>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-lg-3" data-aos="fade-left">
            <div class="box">
              <div class="img-box">
                <img src="{% static 'images/f8.png' %}" alt="">
              </div>
              <div class="detail-box">
                <h5>
                  Calls For Help Inneeded
                </h5>
                <p>
                  Just as with your smartphone, Internet access enables a smart watch with whole world of capabilities
                </p>
                <a href="">
                  <span>
                    Read More
                  </span>
                  <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
                </a>
              </div>
            </div>
          </div>
        </div> -->
      
    </div>
  </section>

  <script src="{% static 'js/filter.js' %}"></script>


  <!-- end feature section -->

  {% endblock content %}