{%  extends 'index.html' %}
{% load static %}
{% block title %}
<title>Home</title>

{% endblock title %}
{% block content %}



<div class="hero_area">
    <div class="hero_social">
      <a href="/error">
        <i class="fa fa-facebook" aria-hidden="true"></i>
      </a>
      <a href="/error">
        <i class="fa fa-twitter" aria-hidden="true"></i>
      </a>
      <a href="/error">
        <i class="fa fa-linkedin" aria-hidden="true"></i>
      </a>
      <a href="/error">
        <i class="fa fa-instagram" aria-hidden="true"></i>
      </a>
    </div>
    <!-- header section strats -->
    {%  include 'gallery.html' %}
    <!-- slider section -->
    <section class="slider_section ">
      <div id="customCarousel1" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="container-fluid ">
              <div class="row">
                <div class="col-md-6">
                  <div class="detail-box">
                    <h1>
                      Smart Watches
                    </h1>
                    <p>
                      Powerful features to help keep you connected, active, healthy, and safe. Advanced sensors to track all the ways you move and to measure your favorite workouts.                     </p>
                    <div class="btn-box">
                      <a href="/product" class="btn1">
                        Shop Now
                      </a>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="img-box">
                    <img src="{% static 'images/a.png' %}" style="height: auto;">
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item ">
            <div class="container-fluid ">
              <div class="row">
                <div class="col-md-6">
                  <div class="detail-box">
                    <h1>
                      Smart Watches
                    </h1>
                    <p>
                      Smartwatches can do many things that your smartphone can't. Benefits include tracking your heart rate, sleep, activity and overall fitness level. You can also play music and do phone free activities and even pay at the store.                    </p>
                    <div class="btn-box">
                      <a href="/product" class="btn1">
                        Shop Now
                      </a>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="img-box">
                    <img src="{% static 'images/b.png' %}" style="height: auto;">
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item ">
            <div class="container-fluid ">
              <div class="row">
                <div class="col-md-6">
                  <div class="detail-box">
                    <h1>
                      Smart Watches
                    </h1>
                    <p>
                      In this smart watch, you can make and answer calls right from your wrist! You just need to make sure the watch is connected to your phone through Bluetooth or through a mobile network. With an LTE watch model, you can even handle calls remotely.                    </p>
                    <div class="btn-box">
                      <a href="/product" class="btn1">
                        Shop Now
                      </a> 
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="img-box">
                    <img src="{% static 'images/s.png' %}" style="height: auto;">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <ol class="carousel-indicators">
          <li data-target="#customCarousel1" data-slide-to="0" class="active"></li>
          <li data-target="#customCarousel1" data-slide-to="1"></li>
          <li data-target="#customCarousel1" data-slide-to="2"></li>
        </ol>
      </div>

    </section>
    <!-- end slider section -->
  </div>

  {% include 'top.html' %}

  <section class="shop_section layout_padding">
    <div class="container">
      <div class="heading_container heading_center">
        <h2>
          Apple Products
        </h2>
      </div>
      <div class="row">
        {% for item in items %}
        
        <div class="col-sm-6 col-xl-3" data-aos="fade-up" data-aos-duration="500">
          <div class="box">
            <a href="">
              <div class="img-box">
                <img src="/{{item.watch_image}}" alt="">
              </div>
              <div class="detail-box">
                <h6>
                  {{item.watch_name}}
                </h6>
                <h6>
                  Price:
                  <span>
                    ${{item.watch_price}}
                  </span>
                </h6>
              </div>
              <div class="new">
                <span>
                  Trending
                </span>
              </div>
            </a>
          </div>
        </div>
      {% endfor %}
      </div>
      <div class="btn-box">
        <a href="/product">
          View All
        </a>
      </div>
    </div>
    <br>
    <br>
    <br>

    <div class="container">
      <div class="heading_container heading_center">
        <h2>
          Samsung Products
        </h2>
      </div>
      <div class="row">
        {% for samsung in samsung %}
        
        <div class="col-sm-6 col-xl-3" data-aos="fade-up">
          <div class="box">
            <a href="">
              <div class="img-box">
                <img src="/{{samsung.watch_image}}" alt="">
              </div>
              <div class="detail-box">
                <h6>
                  {{samsung.watch_name}}
                </h6>
                <h6>
                  Price:
                  <span>
                    ${{samsung.watch_price}}
                  </span>
                </h6>
              </div>
              <div class="new">
                <span>
                  Hot
                </span>
              </div>
            </a>
          </div>
        </div>
      {% endfor %}
      </div>
      <div class="btn-box">
        <a href="/product">
          View All
        </a>
      </div>
    </div>
  </section>


  

  <!-- end shop section -->

  <!-- about section -->

  <section class="about_section layout_padding">
    <div class="container  ">
      <div class="row">
        <div class="col-md-6 col-lg-5 ">
          <div class="img-box">
            <img src="{% static 'images/about-img.png' %}" alt="">
          </div>
        </div>
        <div class="col-md-6 col-lg-7" data-aos="fade-right">
          <div class="detail-box">
            <div class="heading_container">
              <h2>
                About Us
              </h2>
            </div>
            <p>
              Smart Watch can open up a whole new world for older family members. They get the same connectivity benefits of Apple Watch, like calling, texting, and location sharing to stay close to the family. And if they need it, they can make the text larger or bolded.Unusually high or low heart rates and irregular heart rhythms (known as arrhythmias) could be signs of a serious condition.
            </p>
            <a href="/about">
              Read More
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- end about section -->

  <!-- feature section -->

  <section class="feature_section layout_padding">
    <div class="container">
      <div class="heading_container">
        <h2>
          Features Of Our Watches
        </h2>
        <p>
          Consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        </p>
      </div>
      <div class="row"> 
        <div class="col-sm-6 col-lg-3" data-aos="fade-right">
          <div class="box">
            <div class="img-box">
              <img src="../static/images/f1.png" alt="">
            </div>
            <div class="detail-box">
              <h5>
                Fitness Tracking
              </h5>
              <p>
                Get a run in wherever you are with great playlists, coaching, and photos from iconic locations. All on Smart Watch.
              </p>
              <a href="">
                <span>
                  Read More
                </span>
                <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
              </a>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-lg-3" data-aos="fade-right">
          <div class="box">
            <div class="img-box">
              <img src="../static/images/f2.png" alt="">
            </div>
            <div class="detail-box">
              <h5>
                Alerts & Notifications
              </h5>
              <p>
                You'll start receiving a pop-up message on your Smartwatch, alerting you each time a participant signs a smart waiver.
              </p>
              <a href="">
                <span>
                  Read More
                </span>
                <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
              </a>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-lg-3" data-aos="fade-left">
          <div class="box">
            <div class="img-box">
              <img src="../static/images/f3.png" alt="">
            </div>
            <div class="detail-box">
              <h5>
                Messages
              </h5>
              <p>
                The best smartwatch that supports text and talk with wireless Qi charging and decent multi-day battery life makes this a smart choice.
              </p>
              <a href="">
                <span>
                  Read More
                </span>
                <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
              </a>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-lg-3" data-aos="fade-left">
          <div class="box">
            <div class="img-box">
              <img src="{% static 'images/f4.png' %}" alt="">
            </div>
            <div class="detail-box">
              <h5>
                Bluetooth
              </h5>
              <p>
                Just as with your smartphone, Internet access enables a smart watch with whole world of potential capabilities
              </p>
              <a href="">
                <span>
                  Read More
                </span>
                <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="btn-box">
        <a href="/features">
          View More
        </a>
      </div>
    </div>
  </section>

  <!-- end feature section -->

    <!-- why us section -->

    <section class="why_us_section layout_padding">
      <div class="container">
        <div class="heading_container heading_center">
          <h2>
            Why Choose Us
          </h2>
        </div>
        <div class="row">
          <div class="col-md-4">
            <div class="box ">
              <div class="img-box">
                <img src="../static/images/r1.png" alt="">
              </div>
              <div class="detail-box">
                <h5>
                  Fast Delivery
                </h5>
                <p>
                  variations of passages of Lorem Ipsum available
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="box ">
              <div class="img-box">
                <img src="../static/images/r2.png" alt="">
              </div>
              <div class="detail-box">
                <h5>
                  Free Shiping
                </h5>
                <p>
                  variations of passages of Lorem Ipsum available
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="box ">
              <div class="img-box">
                <img src="../static/images/r3.png" alt="">
              </div>
              <div class="detail-box">
                <h5>
                  Best Quality
                </h5>
                <p>
                  variations of passages of Lorem Ipsum available
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  
    <!-- end why us section -->

  <!-- contact section -->

  <section class="contact_section">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="form_container">
            <div class="heading_container">
              <h2>
                Contact Us
              </h2>
            </div>
            <form action="">
              <div>
                <input id="name" type="text" placeholder="Full Name " />
              </div>
              <div>
                <input id="email" type="email" placeholder="Email" />
              </div>
              
              <div>
                <input id="text" type="text" class="message-box" placeholder="Message" />
              </div>
              <div class="d-flex ">
                <a href="/error"><button id="btn">
                  SEND
                </button></a>
              </div>
            </form>
          </div>
        </div>
        <div class="col-md-6"  data-aos="fade-in">
          <div class="img-box">
            <img src="{% static 'images/contact-img.jpg' %}" alt="">
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- end contact section -->

  <!-- client section -->
  <section class="client_section layout_padding">
    <div class="container">
      <div class="heading_container heading_center">
        <h2>
          Testimonial
        </h2>
      </div>
      <div class="carousel-wrap ">
        <div class="owl-carousel client_owl-carousel">
          <div class="item">
            <div class="box"  data-aos="flip-right">
              <div class="img-box">
                <img src="{% static 'images/always.png' %}" alt="">
              </div>
              <div class="detail-box">
                <div class="client_info">
                  <div class="client_name">
                    <h5>
                      Always Shrestha
                    </h5>
                    <h6>
                      Premium
                    </h6>
                  </div>
                  <i class="fa fa-quote-left" aria-hidden="true"></i>
                </div>
                <p>
                  Smartwatch 18-hour battery life claim is an estimate. It charges quickly, so you can put it on the charger for 10 minutes before bed and that should be enough juice to track your sleep. Then when you are getting ready in the morning, put it back on the charger. That is my recommended charging schedule for this wearable. 
                </p>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="box" data-aos="flip-left">
              <div class="img-box">
                <img src="{% static 'images/adip.png' %}" alt="">
              </div>
              <div class="detail-box">
                <div class="client_info">
                  <div class="client_name">
                    <h5>
                      Cristiano Ronaldo
                    </h5>
                    <h6>
                      Customer
                    </h6>
                  </div>
                  <i class="fa fa-quote-left" aria-hidden="true"></i>
                </div>
                <p>
                  Not water proof, but water resistant. I’ve forgotten to take my series 6 watch off in the shower, and there is a feature that will vibrate the watch to help expel any water that did get inside.
                  My watch has been fine with some water. Even though it would probably be fine to swim with, I don’t think I would try testing it that much.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- end client section -->


  {% endblock content %}

