{%  extends 'index.html' %}
{% block title %}
<title>Profile</title>

{% endblock title %}

{% block content %}


<style>
    .my-3{
        text-transform: uppercase;
        color: black;
    }
    .edit {
      letter-spacing: .1rem;
    border: none;
    border-radius: 10px;
    background-color: #dc3545;
    border: 1px solid #dc3545;
    color: #fff;
    padding: 8px 15px;
    margin: 0px 10px;
    cursor: pointer;
    transition: all 300ms ease-in-out;
}

.edit:hover {
    background-color: transparent;
    border: 1px solid #dc3545;
    color: #dc3545;
}
</style>

{%  include 'gallery.html' %}
    <section style="background-color: #eee;">
        <div class="container py-5">
          <div class="row">
            <div class="col">
              <nav aria-label="breadcrumb" class="bg-light rounded-3 p-3 mb-4">
                <ol class="breadcrumb mb-0">
                  <li class="breadcrumb-item active" aria-current="page"><a href="/signup/data">USER PROFILE</a></li>
                  <!-- <li class="breadcrumb-item"><a href="#">User</a></li> -->
                  <!-- <li class="breadcrumb-item ">User Profile</li> -->
                </ol>
              </nav>
            </div>
          </div>
      
          <div class="row">
            <div class="col-lg-4">
              <div class="card mb-4">
                <div class="card-body text-center">
                  <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava3.webp" alt="avatar"
                    class="rounded-circle img-fluid" style="width: 150px;">
                  <h5 class="my-3">{{user.username}}</h5>
                  <p class="text-muted mb-1">Active:&nbsp; {{user.is_active}}</p>
                  <!-- <p class="text-muted mb-4">Bay Area, San Francisco, CA</p> -->
                  <!-- <div class="d-flex justify-content-center mb-2">
                    <button type="button" class="btn btn-primary">Follow</button>
                    <button type="button" class="btn btn-outline-primary ms-1">Message</button>
                  </div> -->
                </div>
              </div>
              <div class="card mb-4 mb-lg-0">
                <p class="text-muted mb-1">SUPER USER : {{user.is_superuser}}</p>
                
                <div class="card-body p-0">
                  <!-- <ul class="list-group list-group-flush rounded-3">
                    <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                      <i class="fas fa-globe fa-lg text-warning"></i>
                      <p class="mb-0">https://mdbootstrap.com</p>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                      <i class="fab fa-github fa-lg" style="color: #333333;"></i>
                      <p class="mb-0">mdbootstrap</p>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                      <i class="fab fa-twitter fa-lg" style="color: #55acee;"></i>
                      <p class="mb-0">@mdbootstrap</p>
                    </li> -->
                    <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                      <i class="fab fa-instagram fa-lg" style="color: #ac2bac;"></i>
                      <p class="mb-0">{{user.first_name}}{{user.last_name}}</p>
                    </li>
                    <!-- <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                      <i class="fab fa-facebook-f fa-lg" style="color: #3b5998;"></i>
                      <p class="mb-0">{{user.username}}</p>
                    </li> -->
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-lg-8">
              <div class="card mb-4">
                <div class="card-body">
                  <div class="row">
                    <div class="col-sm-3">
                      <p class="mb-0">First Name</p>
                    </div>
                    <div class="col-sm-9">
                      <p class="text-muted mb-0" style="text-transform: uppercase;">{{user.first_name}} </p>
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <p class="mb-0" >Last Name</p>
                    </div>
                    <div class="col-sm-9">
                      <p class="text-muted mb-0" style="text-transform: uppercase;">{{user.last_name}}</p>
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <p class="mb-0">E-mail</p>
                    </div>
                    <div class="col-sm-9">
                            <p class="text-muted mb-0">{{user.email}}</p>
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <p class="mb-0">Password</p>
                    </div>
                    <div class="col-sm-9">
                      <p class="text-muted mb-0">***********</p>
                      <a href="">Change password</a>
                    </div>
                  </div>
                  <hr>
                  
                  <div class="row">
                    <div class="col-sm-3">
                      <p class="mb-0">Last Log-In</p>
                    </div>
                    <div class="col-sm-9">
                      <p class="text-muted mb-0" style="text-transform: uppercase;">{{user.last_login}}</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <a class="edit" href="/signup/">UPDATE</a>
                <a class="edit" href="/signup/">SAVE</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    

    {% endblock content %}


